@inject TextChannelViewModel TextChannelVm

@using LetsTalk.Client.Context
@using LetsTalk.Shared.ModelsDto

@implements IDisposable;

@namespace LetsTalk.Client.Views.Components

<div style="display: flex; flex-direction: column-reverse; overflow-y: auto;">
    @if (TextChannelVm.Messages?.Count != 0)
    {
        foreach(var message in TextChannelVm?.Messages?.AsEnumerable().Reverse()!)
        {
            <MudChat Class="pa-2 mb-2" ChatPosition="@(message.Username == UserContext.CurrentUser?.Username ? ChatBubblePosition.End : ChatBubblePosition.Start)">
                <MudChatHeader Name="@message.Username" Time="@message.DateEnvoi.ToString()"></MudChatHeader>
                <MudChatBubble>
                    @message.Contenu
                </MudChatBubble>
            </MudChat>
        }
    
        <MudInput T="string" @bind-value="Value" Placeholder="Écrire un message..." MaxLines="32" Lines="2"
                  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send"
                  OnAdornmentClick="async () => await SendMessage(Value)" FullWidth="true"
                  Class="mt-2" Style="width: 55%;margin-left: calc(100% * 0.05);position: fixed; bottom:20px;"
                  @onkeydown="OnKeyDown">
        </MudInput>
    }
    else
    {
        <MudText>
            Aucun message !
        </MudText>
    }
</div>


@code {

    [Parameter]
    public required ChannelDto Channel { get; set; }
    
    [Parameter]
    public required UserContext UserContext { get; set; }

    [Parameter]
    public required string Value { get; set; } = string.Empty;
    
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task SendMessage(string value)
    {
        await ValueChanged.InvokeAsync(value);
        
        Thread.Sleep(100);
        TextChannelVm.RefreshMessages();
    }
    
    private async Task OnKeyDown(KeyboardEventArgs e)
    {
        if (e is { Key: "Enter", ShiftKey: false })
        {
            Console.WriteLine("Key Pressed: " + e.Key);


            await ValueChanged.InvokeAsync(Value);
        }
    }

    protected override Task OnInitializedAsync()
    {
        TextChannelVm.Id = Channel.Id ?? 0;
        TextChannelVm.InitAsync();
        
        return base.OnInitializedAsync();
    }

    protected override void OnInitialized()
    {
        TextChannelVm.PropertyChanged += (_, __) => StateHasChanged();
        
        base.OnInitialized();
    }

    public void Dispose()
    {
        TextChannelVm.StopRefreshMessages();
    }
}
